.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid salmon;
    border-radius: 15px;
    height: 90vh;
  }
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid salmon;
    border-radius: 15px;
    height: 90vh;
    flex-direction: column;
  }
  .container2 div {
      margin-bottom: 10px;
  }
  .container ul li {
    height: 30px;
    width: 200px;
    list-style: none;
  }

  .container ul li a {
    text-decoration: none;
    color: black;
    height: 25px;
  }
  .container ul li a:hover {
    font-size: large;
  }